<%- include("partials/header.ejs") %>

<div class="verse-form">
    <form id="form" action="/yours-verse">
        <label for="chapter">Chapter : </label>
        <input type="text" id="chapter">
    </form>
</div>


<%- include("partials/footer.ejs") %>