<%- include("partials/header.ejs") %>

  <h1>Today's Verse</h1>
  <p class="user">
    <%= user %>
  </p>
  <div class="card">
    <p>
      <%= secret %>
    </p>
  </div>
  
<%- include("partials/footer.ejs") %>