<%- include("partials/header.ejs") %>

  <h1>Your Verse</h1>
  <p class="user">
    <%= user %>
  </p>
  <div class="card">
    <p>
      <%= secret %>
    </p>
  </div>
  <h1>(Hover over the image to see the translated discription)</h1>
  
<%- include("partials/footer.ejs") %>